@charset "UTF-8";
/* Réglages du corps de page */
body {
	margin: 0;
	padding: 0;
	background-color: #e5e9f0;
	color: #3b4252;
	text-align: justify;
	font-size: medium;
	font-family: sans-serif;
	/* Propriétés pour les grilles */
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas:	"nav"
				"header"
				"main"
				"footer";
}
/* Réglages des liens dans les pages */
a {
	text-decoration: none;
	color: #5e81ac;
}
a:hover, .rss:hover, body.night a:hover {
	color: #bf616a;
}
/* Réglages pour l'apparence des listes */
ul {
	list-style: square;
}
/* Réglages pour la mise en forme du corps de l'article */
.post {
	grid-area: main;
	margin: 3% 20%;
}
/* Réglages pour la mise en forme du système de pagination */
/* Boîte principale */
.pagination {
	text-align: center;
	padding: 15px;
}
/* Boutons "Billets plus récents" & "Billets plus anciens" */
.precedent, .suivant {
	margin: 10px;
	padding: 5px;
	background-color: #d8dee9;
	border: 2px solid #5e81ac;
}
/* Option pour changer la couleur de la bordure du bouton lors du survol */
.precedent:hover, .suivant:hover, body.night .precedent:hover, body.night .suivant:hover {
	border: 2px solid #bf616a;
}
/* Classe dédiée pour le centrage de texte */
.center {
	text-align: center;
}
/* Réglages pour les blocs de citation */
blockquote {
	text-align: center;
	font-style: italic;
	padding: 1%;
}
/* Réglages pour les blocs "Poésie des mots" */
kanji {
	text-align: center;
	font-size: 40px;
}
/* Réglages pour les images */
img {
	margin: 2% auto;
	display: block;
}
table {
	margin: auto;
}
/* Réglages pour le menu de navigation */
nav {
	grid-area: nav;
	padding: 20px 0;
	border-bottom: 3px solid #5e81ac;
	background-color: #d8dee9;
	text-align: right;
	font-size: medium;
}
nav a {
	padding: 15px;
}
.rss, body.night .rss {
	color: #d08770;
}
#title {
	float: left;
}
/* Réglages pour l'en-tête du site */
header {
	grid-area: header;
	padding: 50px 0;
	color: #0d0d0d;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
.fond {
	width: 50%;
	margin: auto;
	padding: 5px 15px;
	background-color: #eceff4b3;
}
#switch {
	background-color: #2e3440;
	color: #d8dee9;
	float: right;
	padding: 5px;
	border: 3px solid #d8dee9;
}
/* Réglages pour le pied de page */
footer {
	grid-area: footer;
	font-size: 0.75em;
	border-top: 3px solid #5e81ac;
	background-color: #d8dee9;
}
/* Réglages permettant d'améliorer l'expérience sur téléphones et tablettes */
@media (max-width: 1050px) {
	nav {
		padding: 0;
	}
	nav a {
		display: block;
		text-align: center;
	}
	#title {
		float: none;
	}
	#title a {
		background-color: #2e3440;
	}
	.precedent, .suivant {
		display: block;
		margin: 2%;
		padding: 2%;
	}
}
/* Réglages concernant la taille du fond d'écran de la bannière pour les smartphones */
@media (max-width: 500px) {
	h1 {
		font-size: 1.55em;
	}
	header {
		background-size: 300%;
	}
	.precedent, .suivant {
		margin: 5%;
		padding: 5%;
	}
	.post {
		margin: 3% 10%;
	}
	/* Adaptation des modules vidéo et autre plugins sur des écrans de petite taille */
	iframe {
		width: 250px;
	}
}
/* Réglages permettant d'améliorer l'expérience sur les grands écrans */
@media (min-width: 1200px) {
	body {
		font-size: larger;
	}
}
/* Night mode */
body.night {
	background-color: #3b4252;
	color: #d8dee9;
}
nav.night, footer.night {
	background-color: #434c5e;
	border-color: #88c0d0;
	color: #d8dee9;
}
body.night header {
	color: #d8dee9;
}
body.night .fond {
	background-color: #4c566ab3;
}
body.night #switch {
	color: #2e3440;
	background-color: #d8dee9;
	border-color: #2e3440;
}
body.night .precedent, body.night .suivant {
	background-color: #4c566a;
	border-color: #88c0d0;
}
body.night a {
	color: #88c0d0;
}

